.video{
  padding: 70px 0 85px;
  position: relative;
  background: url("../image/video/Rectangle.png")top left/100% 570px no-repeat;
  width: 100%;
  height: 570px;
    &::after{
      content: "";
      height: 1px;
      width: 100%;
      top: 0;
      left: 0;
    }
  &__title{
    @include text(normal , bold , 36px , 53px , #ffffff);
    margin-bottom: 30px;
  }
  &__subtitle{
    @include text(normal , normal , 16px , 25px , #999999);
    margin-bottom: 70px;
  }
  &__subtitle_last{
    @include text(normal , 500 , 16px , 25px , #ffffff);
  }
  &__video{
    position: relative;
    background: url("../image/video/Rectangle 2.png")top left/100% 100% no-repeat;
    height: 430px;
    width: 970px;
    margin:0 auto 85px;
  }
  &__a {
    width: 300px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    &::before{
      content:"";
      position:absolute;
      top: 10%;
      left: 10%;
      background: url("../image/video/play-button.svg") top left/100% 100% px no-repeat;
      width: 60px;
      height: 60px;
    }
  }
}